
#container_upma{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
}
#incontainer_upma2 h1{
    font-size: 40px;
    font-weight: bold;
    color: #45da00;
    margin-bottom: 20px;

}
#incontainer_upma2 li{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
}