:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
#Navbar {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(112,
    224,
    0);
  padding: 5px;

}
#Navbar-Right a {
  background-color: rgb(112,
      224,
      0);
  color: black;
  font-size: 17px;
  padding: 10px 20px;
  border-radius: 5px;
  border-radius: 100px;
  border: none;
}
#Navbar-Right a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: ease-in 0.3s;
}
.logo{
  border-radius: 100px;
}
#Navbar-Right {
  display: flex;
  justify-content: space-around;
  column-gap: 10px;
  align-items: center;
background-color: rgb(112,
  224,
  0);
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 100px;
  font-size: 900px;

}

#Navbar-Left {
  display: flex;
  justify-content: space-around;

  align-items: center;
  background-color: rgb(112, 224, 0);
  color: rgb(0,100,0);
  
  font-size: 20px;
  border-radius: 100px;
}

#Container1{
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 50px;
  /* background-color: rgb(255, 255, 255); */
  color: rgb(0, 0, 0);
  background-image: url('/bg.jpg');
  font-size: x-large;
}
.wrapper {
  height: 20vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 16ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}
#Container1-Left{
  justify-content: center;
  padding: 20px;
  
  color: rgb(0, 0, 0);
  font-size: x-large;
}
.side-image{
  border-radius: 10px;
}
#Container1-Right{
  justify-content: center;
  padding: 5px 5px;
  /* background-color: rgb(33, 158, 188); */
  color: white;
  font-size: x-large;
}
#Container2{
  display: flex;
  flex-direction: row;
  column-gap: 300px;
  padding-bottom: 10px;
  padding-top: 5px;
  background-color: rgb(112,
      224,
      0);
  color: white;
  font-size: x-large;
  justify-content: space-around;
  align-items: center;
}
#Container2-inner{
  display: flex;
    flex-direction: row;
    column-gap: 3px;
    align-items: center;
    justify-content: space-around;
    padding: 3px;
    
}

#Container2 a{
  color: black;
  font-size: large;
  border-radius: 50px;
  padding: 10px;
  
}
#Container2 a:hover{
  background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  transition: ease-in 0.3s;
}
/* upma */
#container_upma {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 20px;
  padding-top: 80px;
  padding-bottom:220px;
  align-items: center;
  background-color: white;
  background-image: url('/bg.jpg');
}
.logo_upma{
  margin-left: 20px;
  border-radius: 30px;
} 
#incontainer_upma2 h1 {
  font-size: 40px;
  font-weight: bold;
  color: #45da00;
  margin-bottom: 20px;
  background-color: white;
}
.point{
  border-radius: 100px;
}
#incontainer_upma2 ul{
  list-style-type: none;

}
#incontainer_upma2 li {
  font-size: 25px;
  color: #000000;
  margin-bottom: 20px;
  background-color: white;
}
.main_container_blog{
  justify-content: center;
  align-items: center;
  background-image: url('/bg.jpg');

}
.blog_page_container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 50px ;
  column-gap: 30px;
  padding-top: 80px;
  padding-bottom:120px;
  align-items: center;
  background-image: url('/bg.jpg') fixed;
}
.Title{
  font-size: 40px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
  
  text-align: center;
}
.blog{
  background-color: #45da00;
  color: black;
  justify-content: center;
  padding:20px 20px;
  align-content: center;
  justify-items: center;
  border-radius: 20px;
}
.blog:hover{
  background-color: rgb(60, 255, 0);
  color: rgb(0, 0, 0);
  transition: ease-in 0.3s;
}
.blog_title{
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}
.blog_matter{
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}
.singin_back {
  margin: 0;
  padding: 0;
  background-image: url('/bg.jpg');
  background-size: cover;
  /* Ensure the image covers the entire background */
  background-position: center;
  /* Center the image */
  height: 100vh;
  /* Full height to see the background */
  
}
/* .background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
} */

/* .background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.shape:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -80px;
  top: -80px;
}

.shape:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -30px;
  bottom: -80px;
} */

form {
  height: 520px;
  width: 400px;
  background-color:#45da00;
    
  position: absolute;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

form * {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  background-color: #45da00;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
   background-color: #45da00 ;
}

input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgb(148, 246, 148);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

::placeholder {
  color: #000000;
}

button {
  margin-top: 50px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
button:hover{
    transition: all 0.2s ease-out;
    border-radius: 3.9px;
    box-shadow: 10px 10px 17px -4px #ffffff;
    cursor: pointer;
}
/* .social {
  margin-top: 30px;
  display: flex;
}

.social div {
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255, 255, 255, 0.27);
  color: #eaf0fb;
  text-align: center;
}

.social div:hover {
  background-color: rgba(255, 255, 255, 0.47);
}

.social .fb {
  margin-left: 25px;
}

.social i {
  margin-right: 4px;
} */
